/* -------------------------------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------------------------------- */


#bodySection * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#bodySection .container-body-1 {
    max-width: 1140px;
    margin: 0 auto;
    border-left: 1px solid rgba(0, 0, 0, 0.27);
    border-right: 1px solid rgba(0, 0, 0, 0.27);
}

#bodySection html {
    background-color: #fff;
    color: #1c1c1c;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

#bodySection .clearfix {zoom: 1}
#bodySection .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------------------------------------- */
/* REUSABLE COMPOENENTS */
/* -------------------------------------------------------------------------- */


#bodySection .row1 {
    max-width: 1140px;
    margin: 0 auto;
}

#bodySection .col1 {
	margin: 0% 0% 0% 0%;
    max-width: 1140px;
}

#bodySection .span-2-of-7 {
    width: 29.03%;
}

#bodySection section {
    padding: 0px 0px;
}

/* --------- PARAGRAPHS --------- */


#bodySection .box p {
    font-size: 90%;
    line-height: 145%;
    color: #000000;
}

/* --------- ICONS --------- */

#bodySection .icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

#bodySection .icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 7px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

#bodySection .icon-small-footer {
    display: inline-block;
    width: 5px;
    text-align: center;
    color: rgba(230, 126, 34, 0.67);
    font-size: 100%;
    margin-right: 7px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/* --------- BUTTONS --------- */

#bodySection .btn:link, 
#bodySection .btn:visited,
#bodySection input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

#bodySection .btn-full:link,
#bodySection .btn-full:visited,
#bodySection input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px
}

#bodySection .btn-ghost:link,
#bodySection .btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

#bodySection .btn:hover,
#bodySection .btn:active,
#bodySection input[type=submit]:hover,
#bodySection input[type=submit]:active {
    background-color: #cf6d17;
}

#bodySection .btn-full:hover,
#bodySection .btn-full:active,
#bodySection input[type=submit]{
    border: 1px solid #cf6d17;

}

#bodySection .btn-ghost:hover,
#bodySection .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* -------------------------------------------------------------------------- */
/* Heading */
/* -------------------------------------------------------------------------- */

#bodySection h1, 
#bodySection h2,
#bodySection h3, 
#bodySection h4 {

    font-weight: 300;
    text-transform: uppercase;

    
}

#bodySection h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 200%;
    word-spacing: 3px;
    letter-spacing: 0.75px;
}

#bodySection h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#bodySection h3 {
    font-size: 110%;
    color: black;
    margin-bottom: 15px;
}

#bodySection h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px
}

#bodySection h4 {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 5px;
    font-size: 82%;
    color: black;
    text-align: left;
}

#bodySection h5 {
    font-size: 110%;
    color: rgba(255, 255, 255, 0.76);
    margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */

#bodySection header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(160, 158, 158, 0.03)), url(img/hero-img-flags.jpg);
    background-size: cover;
    background-position: center;
    height: 16vh;
    background-attachment: fixed;
    border-bottom: 2px solid #e67e22;
    justify-content: center;
    display: flex;
    align-items: center;
}


#bodySection .logo-on-header {
    height: 40px;
    width: auto;
    float: left;
}

#bodySection .logo-on-header .logo {
    height: 45px;
}

#bodySection .main-menu1 {
    margin-left: 5px;
    margin-top: 12px;
    height: 40px;
    width: auto;
    float: right;

}

#bodySection .main-menu1 .main-nav {
    list-style: none;
    position: relative;
    width: 100%;
}

#bodySection .main-menu1 .main-nav li {
    display: inline;
    float: left;
    margin-left: 15px;
}



#bodySection .main-nav li a:link,
#bodySection .main-nav li a:visited {
    padding: 3px 0px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: 85%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s; 
}

#bodySection .main-nav li a:hover,
#bodySection .main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    padding-bottom: 4px;
}



#bodySection .main-nav .dropdown-learnmore .learn-more-sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2220;
    margin-top: 6px;
    font-size: 95%;
}

#bodySection .main-nav .dropdown-learnmore .learn-more-sub-menu a {
    float: none;
    color: black;
    font-size: 85%;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#bodySection .main-nav .dropdown-learnmore:hover .learn-more-sub-menu {
    display: block;
}

#bodySection .main-nav li input[type = text] {
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    height: 25px;
    padding-top: 5px;
}

/* -------------------------------------------------------------------------- */
/* Contact Section */
/* -------------------------------------------------------------------------- */

#bodySection .contact {
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}

#bodySection .box-style-left {
    border-right: 1px solid rgba(0, 0, 0, 0.27);  
    
}

#bodySection .contact-intro-image {
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}

#bodySection .contact-intro {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 15px;
    float: left; 

}

#bodySection .logo-on-contact {
    float: right;
    margin-top: 1%;
    margin-right: 3%;
}

#bodySection .contact-us {
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 15px;
}

#bodySection .header-box-approach {
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}

#bodySection .culture-bump-approach {
    padding-left: 5px;
}

/* -------------------------------------------------------------------------- */
/* CONTACT */
/* -------------------------------------------------------------------------- */

#bodySection .contact-form {
    padding-left: 10px;
    width: 80%;
    margin: 0 auto;
    float: left;
}

#bodySection input[type=firstname],
#bodySection input[type=email],
#bodySection input[type=lastname],
#bodySection input[type = phone],
#bodySection select, 
#bodySection textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

#bodySection input[type=submit] {
    margin-bottom: 29px;
}

#bodySection textarea {
    height: 200px;
    width: 500px;
}

#bodySection input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

#bodySection *:focus {outline: none;}

/* CATEGORIES */

#bodySection .list-of-categories {
    margin-top: 10px;
    margin-left: 5px;
    list-style: none;
}

#bodySection .list-of-categories a {
    text-decoration: none;
}

#bodySection .list-of-categories li {
    margin-bottom: 8px;
}

#bodySection .list-of-categories li a:link,
#bodySection .list-of-categories li a:visited
{
    text-decoration: none;
    border: 0;
    color: #121212;
    transition: color 0.2s;
}

#bodySection .list-of-categories li a:hover,
#bodySection .list-of-categories li a:active
{
    color: #e67e22;
}

/* RECENT POSTS */

#bodySection .list-of-posts {
    margin-top: 10px;
    margin-left: 5px;
    list-style: none;
}


#bodySection .list-of-posts a {
    text-decoration: none;
}

#bodySection .list-of-posts li {
    margin-bottom: 10px;
    font-size: 90%;
}

#bodySection .list-of-posts li a:link,
#bodySection .list-of-posts li a:visited
{
    text-decoration: none;
    border: 0;
    color: #121212;
    transition: color 0.2s;
}

#bodySection .list-of-posts li a:hover,
#bodySection .list-of-posts li a:active
{
    color: #e67e22;
}

/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
 
#bodySection footer {
    background-color: #676767;
    padding: 50px;
    font-size: 80%;
}

#bodySection .subscribe-form {
    padding-left: 5px;
    width: 80%;
    margin: 0 auto;
    float: left;
}

#bodySection .label-subscribe {
    font-size: 112%;
    line-height: 32px;
    color: rgb(217, 217, 217);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    text-align: left;

}

#bodySection input[type=email-footer] {
    width: 60%;
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

 
#bodySection .social-links {
    list-style: none;
    float: right;
}
 
#bodySection .social-links li {
    display: inline-block;
}

#bodySection .box-footer-recent {
    margin-right: 30px;
}

#bodySection .footer-nav-recent-posts {
    list-style: none;
}

#bodySection .footer-nav-recent-posts li {
    margin-bottom: 15px;
    margin-right: 15px;
}

#bodySection .footer-nav-recent-posts li a:link,
#bodySection .footer-nav-recent-posts li a:visited
{
    text-decoration: none;
    border: 0;
    color: #ffffff;
    transition: color 0.3s;
}

#bodySection .footer-nav-recent-posts li a:hover,
#bodySection .footer-nav-recent-posts li a:active
{
    color: rgba(230, 126, 34, 0.86);
}

#bodySection .footer-nav-categories {
    list-style: none;
}

#bodySection .footer-nav-categories li,
#bodySection .footer-nav-categories li {
    margin-bottom: 15px;
    margin-right: 43px;
}

#bodySection .footer-nav-categories li a:link,
#bodySection .footer-nav-categories li a:visited
{
    text-decoration: none;
    border: 0;
    color: #ffffff;
    transition: color 0.3s;
}

#bodySection .footer-nav-categories li a:hover,
#bodySection .footer-nav-categories li a:active
{
    color: rgba(230, 126, 34, 0.86);
}
 
#bodySection .footer-nav {
    list-style: none;
    float: left;
}

#bodySection .footer-nav li {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
 
#bodySection .footer-nav .Lists li {
    padding-left: 20px;
}

#bodySection .footer-nav li a:link,
#bodySection .footer-nav li a:visited,
#bodySection .social-links li a:link,
#bodySection .social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #ffffff;
    transition: color 0.2s;
}

#bodySection .footer-nav li a:hover,
#bodySection .footer-nav li a:active {
    color: rgba(230, 126, 34, 0.86);
}

#bodySection .footer-nav li:last-child,
#bodySection .social-links li:last-child {
    margin-right: 0;
}

#bodySection .site-links {
    list-style: none;
    float: left;
}

#bodySection .site-links li {
    margin-bottom: 50px;
    padding-left: 75px;
}

#bodySection .site-links li a:link,
#bodySection .site-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #ffffff;
    transition: color 0.2s;
}

#bodySection .site-links li a:hover,
#bodySection .site-links li a:active {
    color: rgba(230, 126, 34, 0.86);
}
 
/*
.social-links li {
    margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 180%;
}

.ion-social-facebook:,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color: 5.2s;
}
 
 
.ion-social-facebook:hover {
    color: #3b5998;
}
.ion-social-twitter:hover {
    color: #00aced;
}
.ion-social-googleplus:hover {
    color: #dd4b39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}
*/
 
#bodySection footer p {
    color: #e6e5e5;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}
